name: Release

on:
  push:
    tags:
      - '*'

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up the latest version of uv
      uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true
    - name: Build and publish
      run: |
        uv build
        uv publish
